<ion-view>
    <ion-content overflow-scroll="true" padding="true" scroll="true">
        <div id="map" data-tap-disabled="true"></div>        
        <div id="footerBuscar">
          <div class="spacer" style="height: 10px;"></div>
          <span class="input-label" style="max-width: 100%;width: 100%;"></span>
            <div class = "row">
                  <div style="background: url('img/input_search.png'); background-size: 270px 50px; margin: 0 auto; text-align: center; width: 270px; height: 50px;">
                      <label class="item_busqueda item-input">
                      
                          <input type="text" size="30" ng-model="consulta.producto.nombre"  placeholder="Producto">
                      </label>
                  </div>
            </div>
            <div class="spacer" style="height: 10px;"></div>
            <div class = "row">   
                  <div style="background: url('img/input_cat.png'); background-size: 270px 50px; margin: 0 auto; text-align: center; width: 270px; height: 50px;">
                      <label class="item_busqueda item-input">
                      
                          <select ng-model="categoria_selected" ng-change="selectUpdated(categoria_selected)" style="background-color: rgb(255, 255, 255); border: 0px dashed rgb(166, 166, 166); color:rgb(166, 166, 166);">
                             <option value="">Seleccione Categor&iacute;a</option>
                             <option ng-repeat="categoria in categorias" value="{{categoria.id}}" >{{categoria.nombre}}</option>
                           </select>
                      </label>
                    </div>
            </div>
        
          <div align="center" style="line-height: 0px; border: 0px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
              <div class="spacer" style="height: 15px;"></div>
              <div class = "row"> 
                <div class = "col-50" >
                    <img src="img/button_buscar_es.png" width="150" height="60" ng-click="buscar(newSearchForm);"></img>
                
                </div>
              
             
              <div class = "col-50" style="text-align: center;">
                
                  <img src="img/btn_reset.png" width="150" height="60" ng-click="borrar();"></img>
              </div>
              

          </div>
              </div>
          </div>
      
        </div>
    </ion-content>
</ion-view>