
<ion-view title="Solicitudes">
 
  <ion-content overflow-scroll="true" padding="true" >
      
    <ion-list class="dark">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="peticion in peticiones" type="item-text-wrap" ng-click="peticionDetalle(peticion.code)" >
        <div class="request">


            <div class = "div-table-row">

                    <div class = "div-table-col-img" ><img src="img/fondo_img.png" width="70px" height="70px"></img></div>
                    <div class = "div-table-col" >
                      
                      <div><h2>{{peticion.user}}</h2></div>
                      <div class = "div-table-row" ><div class = "div-table-col-id"><h3>ID:</h3></div><div class = "div-table-col-id-2"><h3 class="id">{{peticion.code}}</h3></div></div>
                      
                      <div><p>{{peticion.text}}</p></div>
                      
                      
                    </div>
                    <div class = "div-table-col" >
                      <ion-option-button class="button-assertive" ng-click="removePeticion(peticion)">
                        Delete
                      </ion-option-button>
                      <i class="icon ion-chevron-right icon-accessory"></i>
                    </div>

                  

            </div>
          
           
          

          
      
        </div>
        
      
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>