<ion-view title="Búsqueda">
    <ion-content overflow-scroll="true" padding="true" scroll="true">
         <!--<div style="background: url(img/ben.png);width: 200px;height: 200px;position: relative;"></div>-->
        <div id="map" data-tap-disabled="true"></div>
       
                  

                   
        <div class="spacer" style="height: 40px; text-align: center;"> <label>! Pulsa sobre el &iacute;cono para ver la informaci&oacute;n del proveedor !</label></div>
        <div id="footerResult">
          <span class="input-label" style="max-width: 100%;width: 100%;"></span>
          <div class="spacer" style="height: 50px;"></div>
          <div class = "row">

              <div class = "col-50" ><label>{{consulta.producto.nombre}}</label><br/><img src="img/line_green.png" width="150" height="10"></img><br/>
                <label>Producto</label>
              </div>
              
             
              <div class = "col-50" style="text-align: center;"><label>{{consulta.categoria.nombre}}</label><br/><img src="img/line_green.png" width="150" height="10"></img><br/>
                <label>Categor&iacute;a</label></div>
              

          </div>
        </div>

        <div align="center" style="line-height: 0px; border: 0px solid rgb(238, 238, 238); border-radius: 3px; text-align:center; width: 100%; height:auto; background-color: rgb(255, 255, 255);">
            <div class="spacer" style="height: 20px;"></div>
                <img src="img/line.png" width="150" height="10" ng-click="loginUsuario(loginForm);"></img>
                <div class="spacer" style="height: 10px;"></div>    
        </div>

                    
           
            
    </ion-content>
</ion-view>