<ion-view title="Búsqueda">
    <ion-content overflow-scroll="true" padding="true" scroll="true">
        <div id="map" data-tap-disabled="true"></div>
                  

                   
        
        <div style="background: url('img/background_footer_search.png'); background-size: 100% 200px; margin: 0 auto; text-align: center; width: 100%; height: 200px;">
          <span class="input-label" style="max-width: 100%;width: 100%;">Resultado</span>
          <div class="spacer" style="height: 100px;"></div>
          <div class = "row">

              <div class = "col-50" ><label>Producto</label></div>
              
             
              <div class = "col-50" style="text-align: center;"><label>Categor'ia</label></div>
              

          </div>
        </div>

        <div align="center" style="line-height: 0px; border: 0px solid rgb(238, 238, 238); border-radius: 3px; text-align:center; width: 100%; height:auto; background-color: rgb(255, 255, 255);">
            <div class="spacer" style="height: 20px;"></div>
                <img src="img/line.png" width="150" height="10" ng-click="loginUsuario(loginForm);"></img>
                <div class="spacer" style="height: 10px;"></div>    
        </div>

                    
           
            
    </ion-content>
</ion-view>